asgiref==3.5.0
astroid==2.11.2
attrs==21.4.0
cfgv==3.3.1
dill==0.3.4
distlib==0.3.4
Django==4.0.3
djangorestframework==3.13.1
drf-spectacular==0.22.0
filelock==3.6.0
identify==2.4.12
inflection==0.5.1
isort==5.10.1
jsonschema==4.4.0
lazy-object-proxy==1.7.1
mccabe==0.7.0
nodeenv==1.6.0
platformdirs==2.5.1
pre-commit==2.18.1
pylint==2.13.5
pylint-django==2.5.3
pylint-plugin-utils==0.7
pyrsistent==0.18.1
pytz==2022.1
PyYAML==6.0
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
typing-extensions==4.1.1
uritemplate==4.1.1
virtualenv==20.14.1
wrapt==1.14.0
